Full_Scale/
Norway_shapefile/

species_universe.json
species_counts.xlsx
species_counts.json
Full_Scale.rar
vectorized_gbif_assemblages_climatic_1991-2018_32.pkl
vectorized_gbif_assemblages_climatic_1991-2018_32.rar
10_filtered_vectorized_gbif_assemblages_climatic_1991-2018_32.pkl
10_filtered_vectorized_gbif_assemblages_climatic_2018_32.pkl